@font-face {
    font-family: "flaticon";
    src: url("../font/flaticon.ttf?c813ef40f5dd76ec422f92d485b1c0d7") format("truetype"),
url("../font/flaticon.woff?c813ef40f5dd76ec422f92d485b1c0d7") format("woff"),
url("../font/flaticon.woff2?c813ef40f5dd76ec422f92d485b1c0d7") format("woff2"),
url("../font/flaticon.eot?c813ef40f5dd76ec422f92d485b1c0d7#iefix") format("embedded-opentype"),
url("../font/flaticon.svg?c813ef40f5dd76ec422f92d485b1c0d7#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-buddhist-yoga-pose:before {
    content: "\f101";
}
.flaticon-exercise-1:before {
    content: "\f102";
}
.flaticon-exercise:before {
    content: "\f103";
}
.flaticon-man-boxing:before {
    content: "\f104";
}
.flaticon-man-exercising-on-the-floor:before {
    content: "\f105";
}
.flaticon-man-jumping-rope:before {
    content: "\f106";
}
.flaticon-pulling-up:before {
    content: "\f107";
}
.flaticon-stretch:before {
    content: "\f108";
}
.flaticon-weightlifting:before {
    content: "\f109";
}
.flaticon-yoga:before {
    content: "\f10a";
}
